.questions-form{
  text-align: left;
  max-width: 740px;
  margin: 0 auto;

  .form-wrap{
    @include media('<tablet') {
      flex-direction: column;
      align-items: center;
    }
  }

  .contacts-input{
    width: 100%;
  }

  .notation{
    display: block;
    font-weight: bold;
    color: #fff;
    opacity: 0.5;
    margin: 0 0 10px 10px;

    @include media('<tablet') {
      max-width: 350px;
      margin: 0 auto;
      padding-left: 10px;
    }
  }

  input {
    width: 100%;
    max-width: 350px;
    height: 50px;
    background-color: #2a4061;
    caret-color: #fff;
    color: #fff;

    @include media('<tablet') {
      margin: 0 auto;
    }

    & + input {
      margin-top: 20px;
    }
  }

  textarea{
    width: 100%;
    max-width: 350px;
    resize: vertical;
    background-color: #2a4061;
    caret-color: #fff;
    color: #fff;
    min-height: 190px;

    @include media('<tablet') {
      margin-top: 20px;
    }
  }

  .btn-submit{
    margin-top: 35px;

    .btn-arrow{
      margin-left: 5px;
    }
  }
}