.registration-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 740px;
  margin: 0 auto;

  @include media('<tablet') {
    flex-direction: column;
    align-items: center;
  }

  input{
    width: 50%;
    max-width: 350px;
    height: 50px;
    background-color: #2a4061;
    caret-color: #fff;
    color: #fff;

    & + input{
      @include media('<tablet') {
        margin-top: 15px;
      }
    }

    @include media('<tablet') {
      width: 100%;
    }
  }

  .btn-submit{
    margin-top: 40px;
    font-weight: bold;

    @include media('<phone') {
      margin-top: 30px;
    }

    .btn-arrow{
      margin-left: 5px;
    }
  }
}