.contact-us{
  .section-title{
    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #769eca;
      height: 1px;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<=phone') {
        bottom: -18px;
        width: 200px;
      }
    }

    @include media('<=phone') {
      font-size: 26px;
    }
  }

  .section-title-text{
    margin: 71px auto 59px;
    max-width: 800px;

    @include media('<=phone') {
      margin: 12% auto 8%;
      font-size: 16px;
    }
  }

  .contact-info{
    @include media('<=tablet') {
      flex-direction: column;
    }

    .section-title-text{
      margin: 20px auto 0;

      @include media('<=desktop') {
        margin-top: 10px;
      }
    }

    .underline{
      color: #1a3255;
      font: 18px/1 'Merriweather', serif;
      margin-bottom: 15px;

      @include media('<=desktop') {
        margin-bottom: 5px;
      }
    }

    .coordinates{
      & > span{
        display: block;
      }
    }

    .contacts{
      margin-top: 25px;

      @include media('<=desktop') {
        margin-top: 15px;
      }

      & > span{
        display: block;
      }

      a{
        font-weight: 400;
        color: #002e5f;
      }
    }
  }

  .item{
    @include media('<=tablet') {
      & + .item{
        margin-top: 30px;
      }
    }
  }
}