.footer-main{
  text-align: center;

  .currency-row{
    @include media('<tablet') {
      display: none;
    }

    img{
      width: 100%;
    }
  }

  .footer-nav{
    @include media('<tablet') {
      margin-bottom: 10px;
    }

    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #769eca;
      height: 1px;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<tablet') {
        display: none;
      }
    }

    &-list {
      @extend %listreset;

      max-width: 600px;
      flex-wrap: wrap;
      margin: 45px auto 0;

      @include media('<tablet') {
        margin-top: 0;
      }
      @include media('<phone') {
        justify-content: flex-start;
        border-top: 2px solid #173356;
        padding-top: 30px;
      }
    }

    &-item{
      font-size: 16px;
      color: inherit;
    }

    li{
      color: #787878;

      @include media('<phone') {
        width: 50%;
        text-align: left;
        padding-left: 40px;
      }

      & + li{
        margin-left: 25px;
        margin-bottom: 5px;

        @include media('<tablet') {
          margin-left: 20px;
        }
        @include media('<phone') {
          margin-left: 0;
        }
      }
      
      &:hover{
        color: #000;
      }
    }

    .icon-linkedin{
      color: #769eca;
      margin-right: 3px;
    }
  }

  .services-nav{
    @include media('<tablet') {
      display: none;
    }

    &-list {
      @extend %listreset;

      max-width: 980px;
      flex-wrap: wrap;
      margin: 35px auto 35px;
    }

    li{
      color: #002e5f;

      & + li{
        margin-left: 20px;
        margin-bottom: 5px;
      }

      &:hover{
        color: #769fc6;
      }
    }

    &-item{
      color: inherit;
      font-weight: 400;
    }
  }

  .copyright{
    display: block;
    padding-top: 15px;

    &:before{
      position: absolute;
      content: '';
      width: 95%;
      background-color: #ddd;
      height: 1px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .copyright-text{
      font-size: 12px;
    }

    .regulated{
      display: none;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 12px;

      @include media('<tablet') {
        display: block;
      }
    }
  }
}