.full-image{
  img{
    width: 100%;
  }

  .desktop-img{
    @include media('<=tablet') {
      display: none;
    }
  }

  .mobile-img{
    @include media('>tablet') {
      display: none;
    }
  }
}