.resources{
  .section-title:after{
    position: absolute;
    content: '';
    width: 250px;
    background-color: #769eca;
    height: 1px;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-title-text{
    margin: 70px auto 50px;
    max-width: 800px;

    &:nth-child(n+3){
      margin: 53px auto 37px;
    }
  }

  .section-article{
    text-align: left;
    column-count: 2;
    column-width: 475px;
    column-gap: 20px;
    margin-bottom: 35px;

    .article-title{
      color: #1a3255;
      font-size: 18px;
      margin-bottom: 0;
    }

    .article-text{
      margin-bottom: 5px;
    }
  }

  .btn-arrow{
    margin-left: 5px;
  }

  .brochures{
    .item{
      width: 330px;
      padding: 0 15px;
    }

    .section-title-text{
      margin: 7px 0 4px;
    }
  }

  .link{
    &-arrow{
      margin-left: 8px;
    }

    &:hover{
      text-decoration: underline;
    }
  }
}