.resources{
  .section-title{
    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #769eca;
      height: 1px;
      bottom: -37px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<phone') {
        bottom: -18px;
        width: 200px;
      }
    }

    @include media('<phone') {
      font-size: 26px;
    }
  }

  .section-title-text{
    margin: 70px auto 50px;
    max-width: 800px;

    &:nth-child(n+3){
      margin: 53px auto 37px;
    }

    @include media('<phone') {
      margin: 12% auto 8%;
      font-size: 16px;
    }
  }

  .section-article{
    text-align: left;
    margin-bottom: 35px;

    @include media('>=tablet') {
      column-count: 2;
      column-gap: 20px;
    }
    @include media('<phone') {
      margin-bottom: 30px;
    }

    .article-title{
      color: #1a3255;
      font-size: 18px;
      margin-bottom: 0;

      @include media('<tablet') {
        margin-right: -15px;

        &:nth-child(n+3){
          margin-top: 10px;
          padding-top: 5px;
          border-top: 1px solid #d7d7d7;
        }
      }
      @include media('<phone') {
        font-size: 16px;
      }
    }

    .article-text{
      margin-bottom: 5px;
    }
  }

  .btn-arrow{
    margin-left: 5px;
  }

  .brochures{
    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }

    .item{
      width: 330px;
      padding: 0 15px;

      @include media('<desktop') {
        width: 300px;

        & + .item{
          margin-top: 30px;
        }
      }
    }

    .section-title-text{
      margin: 7px 0 4px;
    }
  }

  .link{
    &:hover{
      text-decoration: underline;
    }
  }
}