.supervisory{
  .section-title:after{
    position: absolute;
    content: '';
    width: 250px;
    background-color: #769eca;
    height: 1px;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-article{
    text-align: left;
    margin-top: 70px;

    p{
      width: 300px;
    }
  }
}