.supervisory{
  .section-title{
    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #769eca;
      height: 1px;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<phone') {
        bottom: -18px;
        width: 200px;
      }
    }

    @include media('<phone') {
      font-size: 26px;
    }
  }

  .section-article{
    text-align: left;
    margin-top: 70px;

    @include media('<tablet') {
      flex-direction: column;
    }
    @include media('<phone') {
      margin-top: 40px;
    }

    p{
      width: 33.33%;

      @include media('<tablet') {
        width: 100%;
      }

      & + p{
        @include media('>=tablet') {
          margin-left: 20px;
        }
      }
    }
  }
}