.welcome{
  border-bottom: 1px solid #a5a5a5;

  .section-title{
    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #769eca;
      height: 1px;
      bottom: -28px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<phone') {
        bottom: -18px;
        width: 200px;
      }
    }

    @include media('<phone') {
      font-size: 26px;
    }
  }

  .section-title-text{
    margin: 62px auto 30px;
    max-width: 660px;

    @include media('<phone') {
      margin: 12% auto 8%;
      font-size: 16px;
    }
  }

  .section-article{
    text-align: left;

    @include media('>=tablet') {
      column-count: 2;
      column-gap: 20px;
    }
    @include media('<phone') {
      margin-bottom: 0;
    }

    p{
      display: grid;
      margin: 0 0 0.8em;
    }
  }
}