// container
.container{
  width: 100%;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

// section
.default-section{
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;

  &.blue{
    background-color: #1a3255;
  }

  @include media('<phone') {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}

// font styles
.font-white{
  color: #fff;
}