// container
.container{
  width: 100%;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

// section
.default-section{
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;

  &.blue{
    background-color: #1a3255;
  }

  @include media('<=phone') {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}

// font styles
.font-white{
  color: #fff;
}

// flex
.flex-container{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.column{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}

// position
.relative{
  position: relative;
}