.header-main{
  height: 100vh;
  overflow: hidden;
  position: relative;

  .header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 1;
    padding: 27px 50px 0 30px;

    @include media('<tablet') {
      height: 60px;
      padding: 0;
    }
  }

  .logo-wrap{
    @include media('<tablet') {
      @include size(63%, 100%);

      background-color: #043355;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo-img{
    @include media('<tablet') {
      width: 115px;
    }
  }

  .header-video {
    min-width: 100%;
    min-height: 100%;

    @include media('<tablet') {
      display: none;
    }
  }

  .mobile-img{
    max-width: unset;
    min-height: 100%;
    min-width: 100%;

    @include media('>=tablet') {
      display: none;
    }
  }

  &-title{
    text-align: center;
    width: 100%;
    max-width: 500px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after{
      position: absolute;
      content: '';
      width: 250px;
      background-color: #fff;
      height: 1px;
      bottom: -36px;
      left: 50%;
      transform: translateX(-50%);

      @include media('<phone') {
        bottom: -18px;
        width: 200px;
      }
    }

    @include media('<phone') {
      font-size: 26px;
    }
  }

  .scroll-btn{
    @include size(50px);

    display: block;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.2s linear;

    &:hover{
      padding-top: 5px;
    }

    @include media('<desktop') {
      @include size(40px);
    }

    i{
      color: #fff;
      font-size: 28px;
      line-height: 50px;

      @include media('<desktop') {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }

  .scroll-icon-wrap{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-video-control{
    position: absolute;
    bottom: 80px;
    right: 50px;
    color: #fff;
    font-size: 18px;

    @include media('<tablet') {
      display: none;
    }

    .control-text{
      margin-right: 5px;
    }

    .control-icon{
      font-size: 24px;
      display: none;
      vertical-align: middle;

      &.show{
        display: inline-block;
      }
    }
  }
}